*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
edge/.idea
edge/ContextInferringModule/target
edge/GRPC/target
edge/ContextCacheManager/target
edge/RecommendationEngine/target
edge/ContextSharingModule/target
ElephantShow.mp4
elephant_screenshot_1311957129701791.png
elephant_screenshot_1311970796970500.png
motiontest.py
